body{
    background-color: rgb(162, 235, 210);
    opacity: 100;
    background-origin: 0.1;
   
   
}

table{
   width: 80%; 
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}

table.list{
   width:100%;
}

td, th {
   border: 1px solid #ffffff;
   text-align: left;
   padding: 10px;
}
tr:nth-child(even),table.list thead>tr {
   background-color: #30ca8f;
}

input[type=text], input[type=number] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid rgb(129, 223, 173);
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit]{
   width: 30%;
   background-color: rgb(17, 231, 195);
   color: rgb(10, 1, 1);
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   opacity: 10;
}

form div.form-action-buttons{
   text-align: right;
}

a{
   cursor: pointer;
   text-decoration: underline;
   color: #0000ee;
   margin-right: 4px;
}

label.validation-error{
   color:   red;
   margin-left: 5px;
}

.hide{
   display:none;
}